/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
.user_add_main{
    padding-left: 50px;
    background-color: white;
    
}

table{
    border-spacing: 0;
    font-size:14px ;
    font-family: 'Open Sans', sans-serif;

}
.table_user tr{
    height: 50px;
}
table td{
    padding: 5px;
    width: 200px;
}

table input{
    height: 30px;
    width: 300px;
    
}
.account_style{
    width: 300px;
    height: 30px;
} */

.add_form {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    background-color: white;
    padding: 16px 24px;
}

.form_row {
    height: 70px;
    padding: 20px;
}

.form_row label {
    width: 200px;
}

.add_form .des {
    /* height: 100%; */
    /* width: 500px; */
}

.detail_txt {}

input[type=file] {
    display: inline;
}

.detail_form {
    width: 95%;
    margin-left: 20px;
}