.sale_management_content {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
}

.sale_management_main {
    margin: 0 40px;
    flex: 1;
    background-color: white;
    padding: 24px 48px;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}

.sale_management_main h1 {
    margin-bottom: 24px;
    color: black;
    text-align: center;
    line-height: 2em;
    margin-top: -12px;
}

.sale_management-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.sale_management-filter button {
    padding: 4px 16px;
    border: 1px solid black;
}

.sale_management-filter input {
    margin: 0 24px 0 8px;
}

.sale_management__select {
    border: 1px solid #01a14b;
    border-radius: 30px;
    padding: 4px 8px;
}

.sale_management-table,
.sale_management-table tr,
.sale_management-table td {
    border: 1px solid green;
    border-collapse: collapse;
}

.sale_management-table {
    width: 100%;
    margin-bottom: 48px;
}

.sale_management-table thead td {
    font-weight: bold;
    text-align: center;
}

.sale_management-table tr {
    background-color: inherit;
}

.sale_management-table td {
    padding: 6px 8px;
}

.float-right {
    float: right;
}

.btn.btn-success {
    text-decoration: none;
    background-color: green;
    display: block;
    padding: 4px 8px;
    margin-bottom: 12px;
    color: #fff;
}