.container {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
}

.wapper {
    width: 1200px;
    background-color: #ffffff;
    padding: 30px 0;
    display: flex;
    border: 0.0625rem solid rgba(0, 0, 0, .09);
}

.product_img {
    width: 65%;
    padding: 0 15px;
    height: 500px;
}

.box_img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .2s linear .5s;
    display: flex;
    justify-content: center;
}

.box_img>img {
    max-width: 100%;
    max-height: 100%;
}

.product_infor {
    width: 35%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    border-left: 1px rgb(0 0 0/13%) solid;
}

.product_name {
    padding: 5px;
    text-transform: capitalize;
    margin-bottom: 2.675rem;
    border-bottom: 1px #b0b0b0 solid;
}

.price {
    /* background-color: #fafafa; */
    height: 66px;
    line-height: 66px;
    display: inline-block;
    color: #f96009;
    font-size: 22px;
    padding-bottom: 25px;
}

.price span {
    font-weight: 400;
}

.price del {
    color: #b0b0b0;
    font-size: 20px;
    margin-left: 15px;
}

.procduct_detial {}

.tbl {
    width: 100%;
}

.row1 {
    float: left;
    width: 50%;
    padding-bottom: 15px;
}
.row100 {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}


.row span,
.row strong {
    display: inline-block;
    min-width: 100px;
}

.row span {
    padding-left: 15px;
}

.summary {
    text-align: justify;
}

.summary>span {
    font-size: 800;
}

.box {
    margin-top: 2.6rem;
    display: flex;
}

.boxwapp {
    display: flex;
    flex-direction: column;
}

.box2 {
    display: flex;
    line-height: 1.02rem;
}

.select_quantity {
    display: flex;
}

.select_quantity>input {
    max-width: 40px;
    line-height: 1.875rem;
    font-size: 16;
    text-align: center;
    width: 30px;
    color: #333;
}

#ipt {
    width: 47px;
    height: 30px;
}

.quantity {
    line-height: 1.875rem;
    margin-left: 20px;
}

.quantity>span {
    color: #b0b0b0;
    font-size: 15px;
}

.btnsubmit {
    display: flex;
    margin: 1.875rem 0;
}

.btnsubmit input {
    font-size: 15px;
    text-transform: capitalize;
    margin-right: 25px;
    padding: 12px;
    border-radius: 0.2rem;
}

#ipt1 {
    background-color: rgb(178, 238, 155, 0.4);
    color: #01a14b;
    border: 1.5px #85bb8e solid;
}

#ipt2 {
    background-color: #01a14b;
    border: none;
    color: #fff;
}
/* product img */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
  }
  li {
    margin: 0 1.75rem 0 0;
  }
 
  
  h1, h2, h3, h4 {
    color: #333;
    font-weight: normal;
    margin: 1.75rem 0 1rem 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2.125rem;
    margin: 0;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }
  
  section {
    display: block;
  }
  
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  nav {
    display: block;
    
  }
  nav>li {
    font-size: 1.125rem;
    margin: 0;
  }
  
  .flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: #fff;
    text-align: center;
    
    
  }
  .flex-nav ul>li {
    margin: 0.5rem 0;
  }
  .active {
    display: flex;
  }
  
  .toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
    line-height: 1.7;
    margin: 1rem 0;
   
  }
  .toggle-nav>i {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 0 0.5rem;
  }
  
  #highlight {
    color: #333;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  
  .price {
    margin: 0;
  }
  
  .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
   
  }
  .breadcrumb-list > li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  
  
  .product-image {
    display: none;
  }
  
  .image-list {
    
  }
  .image-list li {
    margin: 0;
  }
  
  @media (min-width: 300px) {
    .product-image img, .image-list img {
      width: 100%;
    }
  
    .product-image {
      display: block;
     
    }
    .product-image img  {
        height: 100vh;
        
      }
      .active {
        display: block;
        margin: 0 0 0.75rem 0;
      }
    .image-list {
      display: flex;
      overflow: hidden;
      
      }
      li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;}
        li:nth-child(3) {
          margin: 0;
        }
        .image-item img{
        height: 10rem;
        width: 100%;
        transition: opacity 0.3s ease;
        cursor: pointer;
      }
      li:hover {
          opacity: 0.7;
        }
      }
    
  
    nav ul {
      justify-content: flex-end;
    }
  
    .toggle-nav {
      display: none;
    }
  
    .flex-nav {
      display: block;}
      ul {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-end;}
        li {
          font-size: 1.125rem;
          margin: 0 1.5rem 0 0;}
          li:nth-child(4) {
            margin: 0;
          }
        
  @keyframes fadeImg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }